.options {
    list-style: none;
}

.item {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 30px;
}
.textFieldsWrap {
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkBoxWrap {
    width: 40%;
    color: var(--dark-grey-color);
    margin-bottom: 30px;
    font-size: 1rem;
    line-height: 1.2rem;
}

.btnWrap {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 770px) {
    .checkBoxWrap {
        width: 70%;
    }
}

@media screen and (max-width: 480px) {
    .checkBoxWrap {
        width: 96%;
    }
    .item {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
}
