.pagination {
    margin: 2rem auto;
    width: fit-content;
    list-style: none;
    display: flex;
    gap: 7px;
    font-size: 1.1rem;
}

.pagination li {
    cursor: pointer;
    display: block;
    text-align: center;
    padding: 7px 10px;
    min-width: 34px;
    border: var(--light-beige-border);
    color: var(--base-blue-color);
    transition: 0.15s ease all;
}

.pagination li:hover {
    background-color: var(--ex-light-grey-color);
}

.pagination li.active {
    background-color: var(--base-blue-color);
    color: var(--base-bg-color);
}

@media screen and (max-width: 991px) {
    .pagination {
        width: 100%;
        margin: 1.3rem 0;
        padding-right: 25px;
        justify-content: flex-end;
    }
}

@media screen and (max-width: 640px) {
    .pagination {
        padding-right: 10px;
    }
}
