.roomsWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2%;
    row-gap: 25px;
}
.mobilePagination {
    display: none;
    margin-top: -40px;
}

.filtersBlock {
    margin: -15px 0 15px;
    font-size: 0.9rem;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    position: relative;
}

.filtersBlockTitle {
    color: var(--base-blue-color);
    cursor: pointer;
    text-decoration: underline;
}

.filtersBlockTitle:hover {
    text-decoration: none;
}

.filtersWrap {
    position: absolute;
    top: -5px;
    right: -5px;
    display: block;
    background-color: var(--ex-light-beige-color);
    padding: 20px;
    z-index: 102;
    color: var(--base-color);
    border-radius: 5px;
    border: var(--light-beige-border);
}

.closeFiltersWrap {
    display: flex;
    justify-content: flex-end;
}

.closeFilters {
    margin: -10px -10px 20px 10px;
    color: var(--base-blue-color);
    cursor: pointer;
}

@media screen and (max-width: 991px) {
    .roomsWrap {
        justify-content: space-evenly;
    }
    .mobilePagination {
        display: block;
    }
}
