.datesWrap {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 30px;
}

.imgAndTitleWrap {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.imgWrap {
    position: relative;
    height: 100px;
    width: 150px;
    overflow: hidden;
    border: 1px solid var(--semi-grey-color);
}

.image {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.roomTitle {
    color: var(--base-blue-color);
    font-size: 1.15rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.totalPrice {
    font-size: 1.05rem;
}

.staticCheckIn {
    width: 150px;
    padding: 8px;
    height: 35px;
    border-radius: 5px;
    border: var(--light-beige-border);
    background-color: white;
    text-align: center;
    font-weight: 600;
    user-select: none;
}

.personsWrap {
    display: flex;
    gap: 30px;
    align-items: center;
    position: relative;
}

.maxPersons {
    font-size: 1rem;
    color: var(--orange-color);
}

.phoneLabel {
    margin-bottom: 10px;
    font-size: 1rem;
}

.inputWrap {
    position: relative;
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: flex-start;
    margin-bottom: 30px;
}

@media screen and (max-width: 480px) {
    .datesWrap {
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }
    .dash {
        width: 150px;
        text-align: center;
    }
    .imgAndTitleWrap {
        flex-direction: column;
        align-items: flex-start;
    }
    .personsWrap {
        flex-direction: column;
        align-items: flex-start;
    }
    .maxPersons {
        font-size: 0.95rem;
        line-height: 1em;
        position: absolute;
        top: 110%;
    }
    .phoneLabel {
        margin-top: 15px;
    }
}